*{
    margin:0;
    padding: 0;
}

body{
    background:linear-gradient(45deg, maroon,pink);
    text-align:center;

}

main{
    background-color: rgba(0, 0, 0, 0.281);
    padding:40px;

}

ul{
    list-style: none;
    display:flex;
    margin:0 30%;
}

a{
    text-decoration: none;
    background-color: darkorchid;
    padding:30px;
    color:white;
    font-size: 30px;
    margin-right: 20px;
    border-radius: 25px;
}

a:hover{
    background-color: lightblue;
    color:black;
}

section{
    display:flex;
  
}



#heart{
    float:right;
    
    width:50%;
    height:70%;
}